.new {
    display: flex;
    width: 100%;

    .newContainer {
        flex: 7;

        .top, .buttom {
            box-shadow: 5px 5px 10px 0px rgba(209, 209, 209, 0.75);
            border-radius: 10px;
            padding: 10px;
            margin: 20px;
            display: flex;

            .title {
                color: #999;
            }

            .left {
                flex: 2;
            }

            .right {
                flex: 3;
                padding: 20px;

                form {
                    padding: 10px;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    gap: 30px;

                    .formInput {
                        width: 40%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .uploadIcon {
                                cursor: pointer;
                                font-size: 28px;
                            }
                        }

                        input {
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid grey;
                            padding: 5px;
                        }
                    }

                    .submitBtn {
                        width: 150px;
                        border: none;
                        color: #fff;
                        background-color: teal;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
            }
        }

    }
}