.datatable {
    padding: 20px;

    .dataTableTitle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #555;
        font-size: 28px;
        padding: 30px 0;
    }
}

.cellWithImage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
        background-color: rgba(0, 128, 0, 0.155);
        color: green;
    }
    &.passive {
        background-color: rgba(255, 0, 0, 0.155);
        color: crimson;
    }

    &.pending {
        background-color: rgba(255, 255, 0, 0.168);
        color: goldenrod;
    }
}

.cellAction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .viewButton {
        cursor: pointer;
    }
    .deleteButton {
        cursor: pointer;
    }
}